
.canvasWrapper {
  height: 100%;
  width: 100%;
  /* display: flex; */
}

.startButton {
  position: relative;
  margin: auto;
  height: 60px;
  font-size: 24px;
  padding: 5px 15px;
  margin: 50% calc(50% - 50px);
  width: 100px;
}

@keyframes counter {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(2);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.countdown {
  transform-origin: center;
  position: relative;
  margin: 50%;
  height: 20px;
  width: 20px;
  font-size: 24px;
  text-align: center;
  animation: counter 1s;
}