

.header {
  position: sticky;
  margin: 0;
  top: 0;
  background: var(--lavenderBlue);
  padding: 3px 10px;
  flex: 0 0 auto;
  box-shadow: var(--shadow-elevation-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreBoard {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  align-items: flex-end;
  justify-content: flex-start;

}

.score {
  color: var(--gunMetal);
  font-size: 15px;
  margin-block: 1px 1px;
}

.speed {
  display: flex;
  flex-direction: column;
}
